{% extends 'python-project-52/task_manager/templates/index.html' %}
{% load i18n %}

{% block content %}
	<h1 class="my-4">
		
	Пользователи

		</h1>
		
	<table class="table table-striped">
	<thead>
	<tr>
		<th>ID</th>
		<th>Имя пользователя</th>
		<th>Полное имя</th>
		<th>Дата создания</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	
		<tr>
		<td>1</td>
		<td>testtesttest</td>
		<td>test test</td>
		<td>20.06.2024 15:21</td>
		<td>
			<a href="/users/1/update/">Изменить</a>
			<br>
			<a href="/users/1/delete/">Удалить</a>
		</td>
		</tr>
	
		<tr>
		<td>2</td>
		<td>pavelko</td>
		<td>Артем Павелко</td>
		<td>20.06.2024 15:36</td>
		<td>
			<a href="/users/2/update/">Изменить</a>
			<br>
			<a href="/users/2/delete/">Удалить</a>
		</td>
		</tr>
	
		<tr>
		<td>3</td>
		<td>aaasss</td>
		<td>aaa sss</td>
		<td>20.06.2024 16:02</td>
		<td>
			<a href="/users/3/update/">Изменить</a>
			<br>
			<a href="/users/3/delete/">Удалить</a>
		</td>
		</tr>
	
		<tr>
		<td>4</td>
		<td>PAvel94</td>
		<td>Pavel Ok</td>
		<td>20.06.2024 18:17</td>
		<td>
			<a href="/users/4/update/">Изменить</a>
			<br>
			<a href="/users/4/delete/">Удалить</a>
		</td>
		</tr>
	
		<tr>
		<td>5</td>
		<td>est</td>
		<td>est est</td>
		<td>20.06.2024 19:10</td>
		<td>
			<a href="/users/5/update/">Изменить</a>
			<br>
			<a href="/users/5/delete/">Удалить</a>
		</td>
		</tr>
	
		<tr>
		<td>7</td>
		<td>testtest</td>
		<td>test test</td>
		<td>21.06.2024 10:39</td>
		<td>
			<a href="/users/7/update/">Изменить</a>
			<br>
			<a href="/users/7/delete/">Удалить</a>
		</td>
		</tr>
	
		<tr>
		<td>8</td>
		<td>zzzzxxxx</td>
		<td>zzzz xxxx</td>
		<td>22.06.2024 11:37</td>
		<td>
			<a href="/users/8/update/">Изменить</a>
			<br>
			<a href="/users/8/delete/">Удалить</a>
		</td>
		</tr>
	
		<tr>
		<td>9</td>
		<td>testuser123</td>
		<td>weafrdvx aresfgb</td>
		<td>23.06.2024 22:04</td>
		<td>
			<a href="/users/9/update/">Изменить</a>
			<br>
			<a href="/users/9/delete/">Удалить</a>
		</td>
		</tr>
	
		<tr>
		<td>12</td>
		<td>TestYulia</td>
		<td>artelx@ts59.ru Test</td>
		<td>24.06.2024 11:19</td>
		<td>
			<a href="/users/12/update/">Изменить</a>
			<br>
			<a href="/users/12/delete/">Удалить</a>
		</td>
		</tr>
	
		<tr>
		<td>13</td>
		<td>Xrustic</td>
		<td>Ольга Сесюнина</td>
		<td>24.06.2024 14:17</td>
		<td>
			<a href="/users/13/update/">Изменить</a>
			<br>
			<a href="/users/13/delete/">Удалить</a>
		</td>
		</tr>
	
	</tbody>
	</table>
{% endblock %}