{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block title %}
            <title>{% trans "Hexlet Task Manager" %}</title>
        {% endblock %}
		{% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
   
    <body class="d-flex flex-column min-vh-100">
		{% block header %}
		    {% include 'header.html' %}
		{% endblock %}
        <div class="container wrapper flex-grow-1">
            {% block content %}
            {% endblock %}
        </div>
		{% block footer %}
		    {% include 'footer.html' %}
		{% endblock %}
    </body>
</html>